[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "external/rlImGui"]
	path = external/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/doctest/doctest
